$text-primary: #ffffff;
$text-secondary: #A7A7A7;
$text-info: #F2C94C;
$text-danger: #9B7878;
$text-success: #17753F;

$transparent-bg: rgba(0, 0, 0, .5);
$transparent-danger: rgba(255, 0, 0, 0.25);
$transparent-success: rgba(23, 117, 63, 0.8);

$gradient-bg: linear-gradient(119.36deg, rgba(23, 117, 63, 0.8) 0%, rgba(6, 175, 76, 0.8) 100%);