input {
  background: $transparent-bg;
  border: none;
  border-radius: 50px;
  transition: all .25s ease-in;
  @include shadow-shine();

  &:hover,
  &:focus {
    box-shadow: 0 0 30px $transparent-bg;
    background: rgba(0, 0, 0, .75);
  }
}

@mixin input-primary() {
  padding: 15px 54px 15px 30px;
  font-size: 20px;
  width: 475px;
  color: $text-primary;

  @media screen and (max-width: 500px) {
    width: 350px;
  }
}