.Error {
  padding: 50px;
  background: $transparent-danger;
  border-radius: 5px;
  color: $text-primary;
  text-align: center;
  @include shadow-shine();

  &__message {
    font-size: 20px;
    margin-bottom: 50px;
  }

  &__link {
    @include button-primary();
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
}